<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">
  <title>{% block title %}Pikszis{% endblock %}</title>
</head>
<body class="min-h-screen flex items-center justify-center" style="background-color: var(--ai-color, #C5DAF1); font-family: 'M PLUS Rounded 1c', sans-serif;">
  {% block content %}{% endblock %}
</body>
</html>